.main__sixth-animation{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 25px;
}
.circle{
    position: absolute;
    /* top: 20%;
    left: 50%; */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 13px solid #8f8f8f;
    border-top: 13px solid #7c57e2;
    animation: pre-circle 2s infinite linear;
}
@keyframes pre-circle {
    0%{
        transform: translate(-20%, 50%) rotate(0deg);
    }
    100%{
        transform: translate(-20%, 50%) rotate(360deg);
    }
}